@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply font-sans text-slate-900 antialiased;
}

input, select {
  @apply transition-all duration-200;
}
